  <div class='hotspringIndexHeader'>
    <nav class='navber navber-expand navbar-light hotspringIndexHeaderNave'>
    </nav>
  </div>

  <h1><%= @prefecture.name %></h1>

  <div class="main">    
        <div class="row">
          <div class="col-md-7 order-md-2">
            <h2>草津温泉にきました！</h2>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-3 order-md-1" style="width: 10rem;">
            <%= image_tag 'hotspring.jpg' ,class: 'card-img-top' %>
          </div>
          </div>

          <hr>

  </div>
